site_name: Fab Lab Ísland 
site_description: Nordic Fab Lab Bootcamp, 2026 @ Húsavík, Iceland
repo_url: https://github.com/Fab-Lab-Island/nordic26
edit_uri: edit/main/docs/
repo_name: "Github hlekkur"

theme:
  name: material
  logo: https://www.fla.is/img/faviconwhite.png
  language: en
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.indexes
    - navigation.expand
    # - toc.integrate
    - toc.follow
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.action.edit  
    - content.action.view  

  palette:
    - scheme: default
      primary: blue grey
      accent: teal
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      primary: blue grey
      accent: teal
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

# Uncomment if using custom styles
# extra_css:
#   - stylesheets/extra.css

plugins:
  - search
  - git-authors:
  - git-revision-date-localized:
      enable_creation_date: true
      fallback_to_build_date: true
  - mkdocs-video:
      is_video: true
      video_controls: true
  - table-reader
  # - caption

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/
    - icon: fontawesome/brands/gitlab
      link: https://gitlab.com/
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - footnotes
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption:
      prepend: false