# Documentation static site generator
mkdocs ~= 1.4

# Material theme
mkdocs-material ~= 9.0

# Media support
mkdocs-video ~= 1.5.0

# CSV table reader plugin
mkdocs-table-reader-plugin ~= 3.1.0

# Git metadata plugins
mkdocs-git-revision-date-localized-plugin ~= 1.1.0
mkdocs-git-authors-plugin ~= 0.9.2

# Required by mkdocs-material for image processing and PDF exports (optional)
pillow
cairosvg
# mkdocs-caption